vc100
vc110
vc120
vc140
vc141
vc142
vc143
x64
config.opt
.vs
**/*.dir
**/*.sdf
**/*.VC.db
**/ipch*
**/*.obj
**/*.lib
**/*.exp
**/*.exe
**/*.pdb
**/*.log
**/*.ilk
**/*.jar
*.pdb
swig/setup.ini
swig/java/org/gdal/gdal/Band.java
swig/java/org/gdal/gdal/BuildVRTOptions.java
swig/java/org/gdal/gdal/ColorTable.java
swig/java/org/gdal/gdal/Dataset.java
swig/java/org/gdal/gdal/DEMProcessingOptions.java
swig/java/org/gdal/gdal/Driver.java
swig/java/org/gdal/gdal/GCP.java
swig/java/org/gdal/gdal/gdal.java
swig/java/org/gdal/gdal/gdalJNI.java
swig/java/org/gdal/gdal/GridOptions.java
swig/java/org/gdal/gdal/InfoOptions.java
swig/java/org/gdal/gdal/MajorObject.java
swig/java/org/gdal/gdal/NearblackOptions.java
swig/java/org/gdal/gdal/ProgressCallback.java
swig/java/org/gdal/gdal/RasterAttributeTable.java
swig/java/org/gdal/gdal/RasterizeOptions.java
swig/java/org/gdal/gdal/SWIGTYPE_p_int.java
swig/java/org/gdal/gdal/TermProgressCallback.java
swig/java/org/gdal/gdal/Transformer.java
swig/java/org/gdal/gdal/TranslateOptions.java
swig/java/org/gdal/gdal/VectorTranslateOptions.java
swig/java/org/gdal/gdal/WarpOptions.java
swig/java/org/gdal/gdal/XMLNode.java
swig/java/org/gdal/gdal/XMLNodeType.java
swig/java/org/gdal/gdalconst/gdalconst.java
swig/java/org/gdal/gdalconst/gdalconstConstants.java
swig/java/org/gdal/gdalconst/gdalconstJNI.java
swig/java/org/gdal/gnm/GenericNetwork.java
swig/java/org/gdal/gnm/gnm.java
swig/java/org/gdal/gnm/gnmConstants.java
swig/java/org/gdal/gnm/gnmJNI.java
swig/java/org/gdal/gnm/GraphAlgorithm.java
swig/java/org/gdal/gnm/Network.java
swig/java/org/gdal/gnm/ProgressCallback.java
swig/java/org/gdal/gnm/TermProgressCallback.java
swig/java/org/gdal/ogr/DataSource.java
swig/java/org/gdal/ogr/Driver.java
swig/java/org/gdal/ogr/Feature.java
swig/java/org/gdal/ogr/FeatureDefn.java
swig/java/org/gdal/ogr/FeatureNative.java
swig/java/org/gdal/ogr/FieldDefn.java
swig/java/org/gdal/ogr/Geometry.java
swig/java/org/gdal/ogr/GeometryNative.java
swig/java/org/gdal/ogr/GeomFieldDefn.java
swig/java/org/gdal/ogr/Layer.java
swig/java/org/gdal/ogr/ogr.java
swig/java/org/gdal/ogr/ogrConstants.java
swig/java/org/gdal/ogr/ogrJNI.java
swig/java/org/gdal/ogr/ProgressCallback.java
swig/java/org/gdal/ogr/StyleTable.java
swig/java/org/gdal/ogr/TermProgressCallback.java
swig/java/org/gdal/osr/CoordinateTransformation.java
swig/java/org/gdal/osr/osr.java
swig/java/org/gdal/osr/osrConstants.java
swig/java/org/gdal/osr/osrJNI.java
swig/java/org/gdal/osr/SpatialReference.java
makegdal14.VC.VC.opendb
Environment.opt
Debug/makegdal141.vcxprojAssemblyReference.cache
Release/makegdal141.vcxprojAssemblyReference.cache
swig/java/org/gdal/gdal/SWIGTYPE_p_CPLErrorHandler.java
swig/java/org/gdal/gdal/SWIGTYPE_p_void.java
Debug/makegdal142community.vcxprojAssemblyReference.cache
swig/csharp/apps/createdata.csproj
swig/csharp/apps/GDALAdjustContrast.csproj
swig/csharp/apps/GDALColorTable.csproj
swig/csharp/apps/GDALCreateCopy.csproj
swig/csharp/apps/GDALDatasetRasterIO.csproj
swig/csharp/apps/GDALDatasetRasterIOEx.csproj
swig/csharp/apps/GDALDatasetWrite.csproj
swig/csharp/apps/GDALGetHistogram.csproj
swig/csharp/apps/GDALInfo.csproj
swig/csharp/apps/GDALMemDataset.csproj
swig/csharp/apps/GDALOverviews.csproj
swig/csharp/apps/GDALRead.csproj
swig/csharp/apps/GDALReadDirect.csproj
swig/csharp/apps/GDALWarp.csproj
swig/csharp/apps/GDALWrite.csproj
swig/csharp/apps/GetCRSInfo.csproj
swig/csharp/apps/OGRFeatureEdit.csproj
swig/csharp/apps/OGRGEOS.csproj
swig/csharp/apps/ogrinfo.csproj
swig/csharp/apps/OGRLayerAlg.csproj
swig/csharp/apps/OSRTransform.csproj
swig/csharp/apps/ReadXML.csproj
swig/csharp/apps/VSIMem.csproj
swig/csharp/apps/WKT2WKB.csproj
swig/csharp/const/GdalConst.cs
swig/csharp/const/gdalconst_wrap.c
swig/csharp/const/GdalConstPINVOKE.cs
swig/csharp/gdal/Access.cs
swig/csharp/gdal/AsyncReader.cs
swig/csharp/gdal/AsyncStatusType.cs
swig/csharp/gdal/Attribute.cs
swig/csharp/gdal/Band.cs
swig/csharp/gdal/ColorEntry.cs
swig/csharp/gdal/ColorInterp.cs
swig/csharp/gdal/ColorTable.cs
swig/csharp/gdal/CPLErr.cs
swig/csharp/gdal/Dataset.cs
swig/csharp/gdal/DataType.cs
swig/csharp/gdal/Dimension.cs
swig/csharp/gdal/Driver.cs
swig/csharp/gdal/EDTComponent.cs
swig/csharp/gdal/ExtendedDataType.cs
swig/csharp/gdal/ExtendedDataTypeClass.cs
swig/csharp/gdal/GCP.cs
swig/csharp/gdal/Gdal.cs
swig/csharp/gdal/gdal_wrap.cpp
swig/csharp/gdal/GDALBuildVRTOptions.cs
swig/csharp/gdal/GDALDEMProcessingOptions.cs
swig/csharp/gdal/GDALGridOptions.cs
swig/csharp/gdal/GDALInfoOptions.cs
swig/csharp/gdal/GDALMultiDimInfoOptions.cs
swig/csharp/gdal/GDALMultiDimTranslateOptions.cs
swig/csharp/gdal/GDALNearblackOptions.cs
swig/csharp/gdal/GdalPINVOKE.cs
swig/csharp/gdal/GDALRasterizeOptions.cs
swig/csharp/gdal/GDALTranslateOptions.cs
swig/csharp/gdal/GDALVectorTranslateOptions.cs
swig/csharp/gdal/GDALWarpAppOptions.cs
swig/csharp/gdal/Group.cs
swig/csharp/gdal/MajorObject.cs
swig/csharp/gdal/MDArray.cs
swig/csharp/gdal/PaletteInterp.cs
swig/csharp/gdal/RasterAttributeTable.cs
swig/csharp/gdal/RasterIOExtraArg.cs
swig/csharp/gdal/RATFieldType.cs
swig/csharp/gdal/RATFieldUsage.cs
swig/csharp/gdal/RATTableType.cs
swig/csharp/gdal/ResampleAlg.cs
swig/csharp/gdal/RIOResampleAlg.cs
swig/csharp/gdal/RWFlag.cs
swig/csharp/gdal/SWIGTYPE_p_GDALProgressFunc.cs
swig/csharp/gdal/SWIGTYPE_p_GUIntBig.cs
swig/csharp/gdal/SWIGTYPE_p_int.cs
swig/csharp/gdal/SWIGTYPE_p_p_char.cs
swig/csharp/gdal/SWIGTYPE_p_p_GDALRasterBandShadow.cs
swig/csharp/gdal/SWIGTYPE_p_void.cs
swig/csharp/gdal/Transformer.cs
swig/csharp/gdal/ViewshedMode.cs
swig/csharp/gdal/ViewshedOutputType.cs
swig/csharp/gdal/XMLNode.cs
swig/csharp/gdal/XMLNodeType.cs
swig/csharp/ogr/DataSource.cs
swig/csharp/ogr/Driver.cs
swig/csharp/ogr/Envelope.cs
swig/csharp/ogr/Envelope3D.cs
swig/csharp/ogr/Feature.cs
swig/csharp/ogr/FeatureDefn.cs
swig/csharp/ogr/FieldDefn.cs
swig/csharp/ogr/FieldSubType.cs
swig/csharp/ogr/FieldType.cs
swig/csharp/ogr/Geometry.cs
swig/csharp/ogr/GeomFieldDefn.cs
swig/csharp/ogr/GeomTransformer.cs
swig/csharp/ogr/Justification.cs
swig/csharp/ogr/Layer.cs
swig/csharp/ogr/Ogr.cs
swig/csharp/ogr/ogr_wrap.cpp
swig/csharp/ogr/OgrPINVOKE.cs
swig/csharp/ogr/StyleTable.cs
swig/csharp/ogr/wkbByteOrder.cs
swig/csharp/ogr/wkbGeometryType.cs
swig/csharp/osr/AreaOfUse.cs
swig/csharp/osr/AxisMappingStrategy.cs
swig/csharp/osr/AxisOrientation.cs
swig/csharp/osr/CoordinateTransformation.cs
swig/csharp/osr/CoordinateTransformationOptions.cs
swig/csharp/osr/CRSInfo.cs
swig/csharp/osr/CRSInfoList.cs
swig/csharp/osr/CRSType.cs
swig/csharp/osr/Osr.cs
swig/csharp/osr/osr_wrap.cpp
swig/csharp/osr/OsrPINVOKE.cs
swig/csharp/osr/SpatialReference.cs
swig/csharp/template.csproj
